.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body, html {
  height: 100%;
}

body {
  background-image: url("https://www.ixpap.com/images/2021/11/Arcane-Wallpaper-6.jpg"); 
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

#iconChat {
  display: flex;
  justify-content: center;
  width: 33%;
  margin-bottom: 2px;
}

#headReact {
  background-color: #272727;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#user_name {
  color: rgb(187, 187, 187);
  width: 33%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}


#headUsers{
  
  width: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  
  
}

#mainContainer{
  min-height: 90vh;
  max-height: fit-content;
}

#privateChatUser{
  background-color: #f0c692;
  border-radius: 45%;
  top: 6%;
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  text-align: center;
  justify-content: center;

  
}
/* Texto para los mensajes*/

#messageInput {
  display: flex;
  position: fixed;
  bottom: 10px;
  width: 100%;
}


#messageText {
  width: 95%;
  margin-left: 10px;
}

.iconSend{
  border-radius: 100%;
  margin: 6px 0 6px 6px;
}

/* Mensajes*/

.msgContainerOwn{
  width: 100%;
  display: flex;
  justify-content: end;
}
.msgContainerExternal{
  width: 100%;
 
}
.msgContainerOwn:first-child{
  padding-top: 40px;
}

.msgContainerOwn:last-child{
  padding-bottom: 60px;
}

.msgContainerExternal:first-child{
  padding-top: 40px;
}

.msgContainerExternal:last-child{
  padding-bottom: 60px;
}

.globalChatMessages {
  border: 1px solid black;
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
  vertical-align: initial;
  width: 30%;
  padding:10px;
  margin:10px 10px 0 10px;
}

.senderName{
  color: coral;
  margin:10px 10px 0 10px;
}

/* Usuarios conectados*/
.userConnected{

    background-color: #f0c692;
    border-radius: 45%;
    top: 6%;
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
}

.userConnected:first-child{
  margin-top: 50px;
}

/* trivial */
.trivial{
  background-color: #f0c692;
  top: 6%;
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  text-align: center;
  justify-content: center;
}
.trivial:first-child{
  margin-top: 50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}